In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl  #higher-level interface that simplifies common plotting tasks

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc

%matplotlib inline

In [2]:
data=pd.read_csv("C:/Users/palla/Documents/Py files/datasets/1429_1.csv")
data.head(6)

C:\Users\palla\AppData\Local\Temp\ipykernel_15396\1457850092.py:1: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("C:/Users/palla/Documents/Py files/datasets/1429_1.csv")

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42
5,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This amazon fire 8 inch tablet is the perfect ...,Just what we expected,NaN,NaN,tklit

In [3]:
data.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')

Making a new table

In [4]:
dat=data[['name', 'reviews.rating', 'reviews.text', 'reviews.title', 'reviews.username']]
dat.head()

,name,reviews.rating,reviews.text,reviews.title,reviews.username
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,This product so far has not disappointed. My c...,Kindle,Adapter
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,great for beginner or experienced person. Boug...,very fast,truman
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,DaveZ
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,Shacks
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,explore42

**Checking null

In [5]:
dat.isnull().sum()

name                6760
reviews.rating        33
reviews.text           1
reviews.title          5
reviews.username       2
dtype: int64

Filter all null and not null

In [6]:
nu=dat[dat['reviews.rating'].isnull()]
nu.head()

,name,reviews.rating,reviews.text,reviews.title,reviews.username
2886,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,The Kindle is my first e-ink reader. I own an ...,"Worth the money. Not perfect, but very very go...",Jeffrey Stanley
2887,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,"I'm a first-time Kindle owner, so I have nothi...","I Wanted a Dedicated E-Reader, and That's What...",Matthew Coenen
2888,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,UPDATE NOVEMBER 2011:My review is now over a y...,Kindle vs. Nook (updated),Ron Cronovich
2889,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,"I'm a first-time Kindle owner, so I have nothi...","I Wanted a Dedicated E-Reader, and That's What...",Matthew Coenen
2890,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,I woke up to a nice surprise this morning: a n...,"Not the perfect do-it-all device, but very clo...",C. Tipton

In [7]:
notnu=dat[dat['reviews.rating'].notnull()]
notnu.head()

,name,reviews.rating,reviews.text,reviews.title,reviews.username
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,This product so far has not disappointed. My c...,Kindle,Adapter
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,great for beginner or experienced person. Boug...,very fast,truman
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,DaveZ
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,Shacks
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,explore42

In [8]:
notnu.isnull().sum()  #Checking null

name                6759
reviews.rating         0
reviews.text           1
reviews.title          5
reviews.username       2
dtype: int64

*REPLACING all null

In [9]:
notnu['name'].fillna('Unknown', inplace=True)
notnu['reviews.text'].fillna('NA', inplace=True)
notnu['reviews.title'].fillna('NA', inplace=True)
notnu['reviews.username'].fillna('Unknown', inplace=True)

C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2432861640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['name'].fillna('Unknown', inplace=True)
C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2432861640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['reviews.text'].fillna('NA', inplace=True)
C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2432861640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['reviews.title'].fillna('NA', inplace=True)
C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2432861640.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['reviews.username'].fillna('Unknown', inplace=True)

In [10]:
notnu.isnull().sum()  #Checking null

name                0
reviews.rating      0
reviews.text        0
reviews.title       0
reviews.username    0
dtype: int64

***Classifying text as postive and negative

In [11]:
notnu['rate']=notnu['reviews.rating']>=4
#new column -rate

C:\Users\palla\AppData\Local\Temp\ipykernel_15396\1194947445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['rate']=notnu['reviews.rating']>=4

In [12]:
notnu['rate'].replace({True: 'pos', False: 'neg'}, inplace=True)
#Replace True and False

C:\Users\palla\AppData\Local\Temp\ipykernel_15396\4181029375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['rate'].replace({True: 'pos', False: 'neg'}, inplace=True)

In [13]:
notnu.head(7)

,name,reviews.rating,reviews.text,reviews.title,reviews.username,rate
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,This product so far has not disappointed. My c...,Kindle,Adapter,pos
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,great for beginner or experienced person. Boug...,very fast,truman,pos
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,DaveZ,pos
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,Shacks,pos
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,explore42,pos
5,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,This amazon fire 8 inch tablet is the perfect ...,Just what we expected,tklit,pos
6,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,"Great for e-reading on the go, nice and light ...",great e-reader tablet,Droi,pos

*Review count

In [14]:
#Counting total pos and neg
notnu['rate'].value_counts()

pos    32316
neg     2311
Name: rate, dtype: int64

Clean the data

In [15]:
import nltk  #Natural Language Toolkit (NLTK) library
import nltk.classify.util #util module within this package contains utility functions that are commonly used for classification tasks
from nltk.classify import NaiveBayesClassifier #specifically designed for building Naive Bayes classifiers
import numpy as np
import re  #regular expressions
import string

In [16]:
cleanup_re = re.compile('[^a-z]+')  
#the regular expression pattern '[^a-z]+' will match one or more consecutive characters that are not lowercase letters.

In [17]:
def clean(x):
    x=str(x)  #Places input sentence to a string 
    x=x.lower() 
    x=cleanup_re.sub(' ',x).strip() 
    #substitute non-lowercase letter characters with a single space
    # strip-> Removes leading and trailing spaces from the resulting sentence
    return x

notnu['word']=notnu['reviews.text'].apply(clean)  #notnu => the not null review ratings dataset
nu['word']=nu['reviews.text'].apply(clean)     #nu for the ones containing the null review ratings

C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2690095802.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notnu['word']=notnu['reviews.text'].apply(clean)  #notnu => the not null review ratings dataset
C:\Users\palla\AppData\Local\Temp\ipykernel_15396\2690095802.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nu['word']=nu['reviews.text'].apply(clean)     #nu for the ones containing the null review ratings

In [18]:
notnu.head()

,name,reviews.rating,reviews.text,reviews.title,reviews.username,rate,word
0,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,This product so far has not disappointed. My c...,Kindle,Adapter,pos,this product so far has not disappointed my ch...
1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,great for beginner or experienced person. Boug...,very fast,truman,pos,great for beginner or experienced person bough...
2,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,DaveZ,pos,inexpensive tablet for him to use and learn on...
3,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,I've had my Fire HD 8 two weeks now and I love...,Good!!!,Shacks,pos,i ve had my fire hd two weeks now and i love i...
4,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,explore42,pos,i bought this for my grand daughter when she c...

In [19]:
nu.head()

,name,reviews.rating,reviews.text,reviews.title,reviews.username,word
2886,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,The Kindle is my first e-ink reader. I own an ...,"Worth the money. Not perfect, but very very go...",Jeffrey Stanley,the kindle is my first e ink reader i own an i...
2887,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,"I'm a first-time Kindle owner, so I have nothi...","I Wanted a Dedicated E-Reader, and That's What...",Matthew Coenen,i m a first time kindle owner so i have nothin...
2888,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,UPDATE NOVEMBER 2011:My review is now over a y...,Kindle vs. Nook (updated),Ron Cronovich,update november my review is now over a year o...
2889,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,"I'm a first-time Kindle owner, so I have nothi...","I Wanted a Dedicated E-Reader, and That's What...",Matthew Coenen,i m a first time kindle owner so i have nothin...
2890,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",NaN,I woke up to a nice surprise this morning: a n...,"Not the perfect do-it-all device, but very clo...",C. Tipton,i woke up to a nice surprise this morning a ne...

***Train and Test Tables

In [20]:
#Create a new dataframe table
spl=notnu[['word','rate']]
train=spl.sample(frac=0.8,random_state=200) #train dataset contains 80% of the data 
test=spl.drop(train.index)    #test dataset contains 20% of the remaining data as the other ones present in the train dataset are dropped